.presentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
}
.container__imagen .imagen__perfil{
  width: 20rem;
  height: auto;
  border-radius: 50%;
  transform: rotateY(150deg);
  border: 1px solid #ddd;
   padding: 5px;
}
.imagen__perfil:hover{
  width: 21rem;
}
.quienSoy__container{
  display: block;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
.quienSoy__titulo{
  font-size: 6rem;
  font-family: Lobster, Rubik;
  padding-top: 3rem;
  padding-bottom: 3rem;
   margin-left: 3rem;
  margin-right: 3rem;
  text-align: center;
}
.Descripcion__container{
  display: block;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
.Descripcion__texto{
  font-size: 4rem;
  font-family: Roboto, Rubik;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 4rem;
  margin-right: 4rem;
  text-align: justify;
  line-height: 4.5rem;
}
.redes{
  display:flex;
  flex-direction: row;
  width: 100%;
  margin: 2rem 3rem 3rem 3rem;
}

.title__network{
  display: flex;
  width: 90%;
  justify-content: space-around;
}
.title__network__item img{
  width: 5rem;
}
   
@media (max-width: 768px){
  .container__imagen .imagen__perfil{
  width: 23rem;
  height: auto;
  border-radius: 50%;
  transform: rotateY(150deg);
  border: 6px solid palevioletred;
  margin: 0;
  padding: 0;
  
}
.imagen__perfil:hover{
  width: 25rem;
}
}
@media (min-width: 769px){
.presentacion {
  display: flex;
  flex-direction: row;
}
.container__imagen .imagen__perfil{
  align-self: flex-start;
  padding-top: 0;
}
}
