.sobreMi__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
}
.sobreMi__titulo {
  font-size: 4rem;
  font-family: Lobster, Rubik;
  padding-top: 3rem;
  padding-bottom: 3rem;
   margin-left: 3rem;
  margin-right: 3rem;
  text-align: justify;
}
.sobreMi__texto {
  font-size: 3rem;
  font-family: Roboto, Rubik;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 4rem;
  margin-right: 4rem;
  text-align: justify;
}

@media (max-width: 768px){
  .sobreMi__texto{
    line-height: 4rem;
  }
}
